// Fonts
$header-font: "Archer", sans-serif;
$base-font: "Avenir", sans-serif;

// Color Palette
$light-blue: #45afc9;
$darkblue: #294661;
$pink: #e57999;
$white: #fff;
$red: #ce3f4e;
$green: #16a085;
$black: #000;
$gray: #a6a6a6;
$yellow: #f3d267;
$orange: #e85c41;
