.login {
  padding: 70px;
  background-color: #f7f7f7;
}
.signin-form {
  border-radius: 7px;
  background-color: #fff;
  border-bottom: 5px solid #cfcfcf;
  max-width: 360px;
  min-width: 260px;
  margin: auto;

  h4 {
    text-align: center;
    margin: 30px 0;
    font-family: "Archer";
    font-size: 30px;
    font-weight: 300;
  }

  .color-bar {
    height: 10px;

    .table {
      border-collapse: collapse;
    }

    td {
      height: 10px;
    }

    .blue {
      background-color: #969eca;
      border-radius: 6px 0 0 0;
    }
    .light-blue {
      background-color: $light-blue;
    }

    .orange {
      background-color: #fecf71;
    }
    .pink {
      background-color: $pink;
      border-radius: 0 6px 0px 0px;
    }
  }

  .body {
    padding: 25px 25px 35px;

    .facebook-icon {
      color: #fff;
      font-size: 31px;
      padding: 17px 11px;
      position: absolute;
    }

    .form-control {
      border: none;
      background-color: #f3f6f6;
      font-size: 17px;
      font-weight: 300;
      height: 55px;
      padding-left: 40px;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .side-icon {
      color: #e0e0e0;
      font-size: 19px;
      padding: 16px 11px;
      position: absolute;
    }

    .btn-info {
      font-size: 20px;
      padding: 10px;
      font-weight: 100;
    }

    .fb-blue {
      color: #fff;
      background-color: #5a90e5;
      border-color: #5a90e5;
      font-size: 16px;
      text-align: left;
      font-weight: 100;
      padding: 10px 44px;
    }

    .forgot {
      margin-bottom: 0;
    }

    label {
      color: #60c1dc;
      font-size: 15px;
      font-weight: 300;
    }

    .rememberbox {
      display: inherit !important;
    }
  }

  @include breakpoint(tablet) {
    margin: auto;

    h4 {
      font-size: 20px;
    }

    .body {
      .btn-info{
        font-size: 20px;
        padding: 13px;
      }

      .form-control {
        font-size: 15px;
        height: 50px;
      }

      .side-icon {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include breakpoint(nano) {
    width: 260px;
    h4 {
      font-size: 18px;
    }

    .body {
      .form-group {
        margin-bottom: 15px;
      }

      .btn-info{
        font-size: 16px;
        padding: 7px;
      }

      .side-icon {
        font-size: 16px;
        padding: 12px 10px;
      }

      p {
        font-size: 13px;
      }

      .form-control {
        border-width: 1px;
        border-bottom-width: 3px;
        font-size: 13px;
        height: 40px;
        padding-left: 30px;
      }

      label {
        font-size: 13px;
      }
    }
  }
}


//register

.register {
  max-width: 950px;
  margin: 9% auto;
  padding: 10px;

  h5 {
    font-weight: bold;
    font-family: $header-font;
  }
  i {
    font-size: 55px;
  }

  form {
    padding: 10px;
  }

  .form-control {
    border: none;
    background-color: #f3f6f6;
    font-size: 17px;
    font-weight: 300;
    height: 55px;
    padding-left: 40px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .side-icon {
    color: #e0e0e0;
    font-size: 19px;
    padding: 16px 11px;
    position: absolute;
  }
  button {
    padding: 15px;
    font-size: 20px;
  }
}
